.number-input {
    position: relative;
    width: 100px;
}

.number-input input[type="number"] {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    -moz-appearance: textfield; /* Hide spinners in Firefox */
}

.number-input input[type="number"]::-webkit-inner-spin-button,
.number-input input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none; /* Hide spinners in Chrome/Safari */
    margin: 0;
}

.spinner {
    display: flex;
    flex-direction: column;
    position: relative;
}

.spinner button {
    background-color: rgba(0, 0, 0, 0.0);
    color: #ce496b;
    border: none;
    cursor: pointer;
    padding: 5px;
    font-size: 20px;
    width: 30px;
    height: 30px;
    position: relative;
    bottom: 10px;
}

.spinner button:hover {
    color:white;
}

#layersInput {
    background-color: rgba(0, 0, 0, 0.0);
    color: #ce496b;
    font-weight: bold;
    border: none;
    padding: 5px;
    width: 20px;
    position: relative;
    bottom: 10px;
}

.overlay {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 8px;
    color: #ce496b;
    font-size: 2.5rem;
    font-weight: bold;
    display: none;
    z-index: 1000;
}
.overlay input {
    font-size: 2.5rem;
}
#timerBox {
    bottom: 95px;
    margin: auto;
    align-items: center;
}
#turnBox{
    display: flex;
    flex-direction: row;
    padding: 20px 10px 0px 10px;
    bottom: 10px;
}
@media (max-width: 512px) {
    #timerBox {
        bottom: 165px;
    }
    #turnBox {
        bottom: 80px;
    }
}