@import url("number.css");
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #000000;
}
#game-container {
    width: 100vw;
    height: 100%;
    background-color: #000000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0
}

#title {
    position: absolute;
    top: 10px;
    color: #ce496b;
    font-size: 2rem;
}
.popover {
    position: fixed;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    color: white;
    font-size: 14px;
    display: none;
    z-index: 1000;
}

.icon {
    position: fixed;
    font-size: 30px;
    cursor: pointer;
    z-index: 1000;
    color: #ce496b;
}

.hamburger-icon {
    top: 20px;
    left: 20px;
}

.gear-icon {
    top: 20px;
    right: 20px;
}

.help-icon {
    top: 15px;
    right: 60px;
}

.cheat-icon {
    top: 20px;
    left: 60px;
    font-weight: bolder;
}

.play-button {
    background-color: #ce496b;
    color: white;
    padding: 5px 10px;
    border-radius: 8px;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
    display: fixed;
    z-index: 1000;
    bottom: 20px;
    left: 20px;
}

.undo-button {
    background-color: #ce496b;
    color: white;
    font-size: 28px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10px 0 7px;
    border-radius: 8px;
    cursor: pointer;
    z-index: 1000;
    bottom: 20px;
    left: 100px;
    height: 45px;
}

pre {
    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

.start-game-button {
    background-color: #ce496b;
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    display: absolute;
    z-index: 1000;
    bottom: 20px;
    right: 20px;
}

.pyro {
    display: none;
}

.pyro > .before {
    border: 5px solid rgba(255, 0, 0, 0.5);
}

.pyro > .after {
    border: 5px solid rgba(255, 255, 0, 0.5);
    animation-delay: -1s;
}
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
.wavtext {
    font-size: 1.5rem;
    color: #ce496b;
    margin-bottom: 1rem;
    display: none;
}
